html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    width: 100vw;
  }

  @media screen and (max-width: 650px), (max-height: 680px) {
    justify-content: flex-start;
  }
}
