@mixin mobile($size: 650px) {
  @media screen and (max-width: $size) {
    @content;
  }
}

html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    width: 100vw;
  }

  @media screen and (max-width: 650px), (max-height: 680px) {
    justify-content: flex-start;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .title {
      width: 100%;

      h2 {
        margin-bottom: 0;
      }
    }

    .view-code {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include mobile {
        display: none;
      }

      a {
        display: flex;
        align-items: center;

        svg {
          margin-left: 2px;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    @include mobile {
      margin: 0;
    }

    & > div {
      margin-bottom: 1rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 0.5rem;
      color: #444;
    }

    textarea {
      word-break: break-all;
    }

    // fix bug
    div.wrapper {
      height: auto;
      max-width: 100%;
    }

    // fix bug
    span.point {
      box-sizing: border-box;
    }

    .result-link {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      div {
        display: flex;
        align-items: center;

        p {
          margin-bottom: 0;
        }

        svg {
          margin-left: 0.5rem;
        }
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      margin-bottom: 0;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      button {
        margin: 3rem;

        @include mobile {
          margin: 0.5rem;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex: 1;
      justify-content: center;
      align-items: flex-end;
    }

    & > div {
      display: flex;

      p {
        font-size: 14px;
      }

      &.footer-left p {
        margin-right: 5px;
      }

      &.footer-right {
        justify-content: flex-end;

        @include mobile {
          display: none;
        }
      }
    }
  }
}
